robotframework==7.0
robotframework-seleniumlibrary==6.3.0
robotframework
robotframework-jsonlibrary
robotframework-metrics==3.3.3
robotframework-requests
robotframework-seleniumlibrary==5.1.3
wheel
robotframework-mongodb-library
pymongo
openpyxl
loguru
pyyaml
mimesis
robotframework-pabot==2.9.0
robotframework-notifications
robotframework-dependencylibrary
robotframework-archivelibrary==0.4.1
Pillow==10.2.0